div(class="sidebar-wrapper")
  div(class="user")
    div(class="photo")
      img(src="../assets/img/default.jpg")
    div(class="info")
      a(data-toggle="collapse", href="#collapsePerfil", class="collapsed")
        if user.nombre == null
          = user.correo
        else
          = user.nombre
        b(class="caret")
      div(class="collapse" id="collapsePerfil")
        ul(class="nav")
          li
            a(href="cuenta", style="text-align:left") 
              i(class="material-icons", style="margin-top:-5px") location_on
              | Mi cuenta
          li
            a(href="../auth/logout", style="text-align:left") 
              i(class="material-icons", style="margin-top:-5px") exit_to_app
              | Cerrar sesión
    div(class="info")
      a(id="ciudad")
  ul(class="nav")
    li(class="active")
      a(href="/app")
        i(class="material-icons") dashboard
        p Inicio
    li
      a(data-toggle="collapse" href="#menuMunicipio")
        i(class="fa fa-map")
        p Municipio
          b(class="caret")
      div(class="collapse" id="menuMunicipio")
        ul(class="nav")
          li
            a(href="/app/municipio") Formulario
          li
            a(href="/app/municipio-file") Carga masiva
    li
      a(href="/app/proveedores")
        i(class="fa fa-user")
        p Proveedores
    li
      a(href="/app/productos")
        i(class="fa fa-life-ring")
        p Productos
    li
      a(href="/app/oferta")
        i(class="fa fa-users")
        p Oferta
    li
      a(href="/app/demanda")
        i(class="fa fa-hand-peace-o")
        p Demanda
  
