extends ../templates/appDefault

block contenido

  div(class="main-panel")
    nav(class="navbar navbar-transparent navbar-absolute")
      div( class="container-fluid")
        div(class="navbar-minimize")
          button(id="minimizeSidebar", class="btn btn-round btn-white btn-fill btn-just-icon")
            i(class="material-icons visible-on-sidebar-regular") more_vert
            i(class="material-icons visible-on-sidebar-mini") view_list
        div(class="navbar-header")
          button(type="button" class="navbar-toggle" data-toggle="collapse")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="#") Inicio
        div(id="saludo", class="nav navbar-nav navbar-right", style="margin-right:30px")
          h4(id="saludo-contenido", style="text-align:right")
                  
    
    div(class="content")
      div(class="container-fluid")
        div(class="row")
          div(class="col-md-12")
            div(class="card")
              div(class="card-header card-header-icon", data-background-color="green")
                i(class="material-icons") language
              div(class="card-content")
                h4(class="card-title") Oferta y demanda del departamento del Cesar
                div(class="col-md-3", id="tabla-mapa")
                  div(class="table-responsive table-sales")
                    table(class="table")
                      thead
                        tr
                          th(style="font-weight:bold") Producto
                          th(class="text-right", style="font-weight:bold") Oferta
                          th(td class="text-right", style="font-weight:bold") Demanda
                        tr
                      tbody(id="ofert")
                        tr
                          td Producto 1
                          td(class="text-right") 2.920
                          td(class="text-right") 53.29%
                          
                div(class="col-md-4 col-md-offset-1")
                  object(id="cesar-mapa", class="map", data="../assets/img/cesar.svg", type="image/svg+xml", style="height: auto!important;")
                
                div(class="col-md-4")
                  div(class="row")
                    div(class="table-responsive table-sales")
                      table(class="table")
                        tr
                          th(colspan="2" style="text-align:center" id="MunNom") Municipio
                        tr
                          td(style="text-align:center; font-weight:bold;") Poblacion
                          td(style="text-align:center; font-weight:bold;") Altitud
                        tr
                          td(id="MunPob" style="text-align:center") 
                          td(id="MunAlt" style="text-align:center") 
                        tr
                          td(style="text-align:center; font-weight:bold;") Superficie
                          td(style="text-align:center; font-weight:bold;" ) Temperatura
                        tr
                          td(id="MunSup" style="text-align:center") 
                          td(id="MunTem" style="text-align:center") 
                        tr
                          th(colspan="2" style="text-align:center; font-weight:bold;") Año de Fundacion
                        tr
                          td(id="MunFun" style="text-align:center" colspan="2")
                  
                  
  

  include ../templates/footer
  script(type="text/javascript").
    setTimeout(cesar_mapa, 1000);
    //ConsumoYa.enviarPOST("app/localidad/insert", "info", {nombre:"gamarra",poblacion:15000}, function(data){console.log(data);});
    //ConsumoYa.mapa();

    
