extends ../templates/appDefault

block contenido

  div(class="main-panel")
    nav(class="navbar navbar-transparent navbar-absolute")
      div( class="container-fluid")
        div(class="navbar-minimize")
          button(id="minimizeSidebar", class="btn btn-round btn-white btn-fill btn-just-icon")
            i(class="material-icons visible-on-sidebar-regular") more_vert
            i(class="material-icons visible-on-sidebar-mini") view_list
        div(class="navbar-header")
          button(type="button" class="navbar-toggle" data-toggle="collapse")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="#") Inicio
        div(id="saludo", class="nav navbar-nav navbar-right", style="margin-right:30px")
          h4(id="saludo-contenido", style="text-align:right")
                  
    
    div(class="content")
      div(class="container-fluid")
        div(class="row")
          div(class="col-md-12")
            div(class="card")
              div(class="card-header card-header-icon", data-background-color="green")
                i(class="material-icons") language
              div(class="card-content")
                h4(class="card-title") Consumo y demanda del departamento del Cesar
                div(class="col-md-5", id="tabla-mapa")
                  div(class="table-responsive table-sales")
                    table(class="table")
                      tbody
                        tr
                          td(style="font-weight:bold") Municipio
                          td(class="text-right", style="font-weight:bold") Demanda
                          td(td class="text-right", style="font-weight:bold") Consumo
                        tr
                          td municipio 1
                          td(class="text-right") 2.920
                          td(td class="text-right") 53.29%
                        tr
                          td municipo 2
                          td(class="text-right") 2.920
                          td(td class="text-right") 53.29%
                        tr
                          td municipo 3
                          td(class="text-right") 2.920
                          td(td class="text-right") 53.29%
                        tr
                          td municipo 4
                          td(class="text-right") 2.920
                          td(td class="text-right") 53.29%
                        tr
                          td municipo 5
                          td(class="text-right") 2.920
                          td(td class="text-right") 53.29%
                          
                div(class="col-md-6 col-md-offset-1")
                  object(id="cesar-mapa", class="map", data="../assets/img/cesar.svg", type="image/svg+xml", style="height: auto!important;")
  
  include ../templates/footer
  script(type="text/javascript").
    setTimeout(cesar_mapa, 1000);
    //ConsumoYa.enviarPOST("app/localidad/insert", "info", {nombre:"gamarra",poblacion:15000}, function(data){console.log(data);});
    //ConsumoYa.mapa();
    
