extends ../templates/appDefault
block contenido
  div(class="main-panel")
    nav(class="navbar navbar-transparent navbar-absolute")
      div( class="container-fluid")
        div(class="navbar-minimize")
          button(id="minimizeSidebar", class="btn btn-round btn-white btn-fill btn-just-icon")
            i(class="material-icons visible-on-sidebar-regular") more_vert
            i(class="material-icons visible-on-sidebar-mini") view_list
        div(class="navbar-header")
          button(type="button" class="navbar-toggle" data-toggle="collapse")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="#") Producto
        div(id="saludo", class="nav navbar-nav navbar-right", style="margin-right:30px")
          h4(id="saludo-contenido", style="text-align:right")
    
    div(class="content")
      div(class="container-fluid")
        div(class="row")
          div(class="col-md-12")
            div(class="card")
              div(class="card-header card-header-icon" data-background-color="purple")
                i(class="material-icons") assignment
              div(class="card-content")
                h4(class="card-title") Productos
                div(class="toolbar")
                div(class="material-datatables")
                  table(id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%")
                    thead
                      tr
                        th Còdigo
                        th Nombre
                        th(class="disabled-sorting text-right") Acciones
                    tbody(id="contenido")
                      
          
  include ../templates/footer
  script(src="../assets/js/productos.js")
  script.
    
